extends base


block content 
          main.main
            .login-form.send-auth-email
                h2.heading-secondary.ma-bt-lg Confirm Your Email
                p we send a confirmation to your email
                 strong= user.email
                p you need to confirm your email before getting access to our application 
                